<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="98b989">  <td>21/03/23 16:44:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNgDemo.googleSearch()[pri:0, instance:test.TestNgDemo@1a451d4d]">googleSearch</td> 
  <td>TestNG-test=Test1-1@1360407634</td>   <td></td> </tr>
<tr bgcolor="dd6edd">  <td>21/03/23 16:44:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNgDemo2.googleSearch2()[pri:0, instance:test.TestNgDemo2@71809907]">googleSearch2</td> 
  <td>TestNG-test=Test1-2@1398482399</td>   <td></td> </tr>
<tr bgcolor="98b989">  <td>21/03/23 16:44:36</td>   <td>-21709</td> <td>&nbsp;</td><td title="&gt;&gt;TestNgDemo.setUpTest()[pri:0, instance:test.TestNgDemo@1a451d4d]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2088445230</td>   <td></td> </tr>
<tr bgcolor="dd6edd">  <td>21/03/23 16:44:44</td>   <td>-14522</td> <td>&nbsp;</td><td title="&gt;&gt;TestNgDemo2.setUpTest()[pri:0, instance:test.TestNgDemo2@71809907]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2088445230</td>   <td></td> </tr>
<tr bgcolor="98b989">  <td>21/03/23 16:45:01</td>   <td>3068</td> <td>&nbsp;</td><td title="&lt;&lt;TestNgDemo.tearDownTest()[pri:0, instance:test.TestNgDemo@1a451d4d]">&lt;&lt;tearDownTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2088445230</td>   <td></td> </tr>
<tr bgcolor="dd6edd">  <td>21/03/23 16:45:03</td>   <td>4621</td> <td>&nbsp;</td><td title="&lt;&lt;TestNgDemo2.tearDownTest()[pri:0, instance:test.TestNgDemo2@71809907]">&lt;&lt;tearDownTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2088445230</td>   <td></td> </tr>
</table>
