<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a37dbf">  <td>21/03/24 00:42:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNgDemo.googleSearch()[pri:0, instance:test.TestNgDemo@15ff3e9e]">googleSearch</td> 
  <td>main@1550207152</td>   <td></td> </tr>
<tr bgcolor="a37dbf">  <td>21/03/24 00:42:47</td>   <td>-9893</td> <td>&nbsp;</td><td title="&gt;&gt;TestNgDemo.setUpTest()[pri:0, instance:test.TestNgDemo@15ff3e9e]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1550207152</td>   <td></td> </tr>
<tr bgcolor="a37dbf">  <td>21/03/24 00:42:57</td>   <td>233</td> <td>&nbsp;</td><td title="&lt;&lt;TestNgDemo.tearDownTest()[pri:0, instance:test.TestNgDemo@15ff3e9e]">&lt;&lt;tearDownTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1550207152</td>   <td></td> </tr>
</table>
